@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-clr-bg-light: var(--color-slate-50);
    --color-clr-bg: var(--color-slate-50);
    --color-clr-bg-dark: var(--color-slate-100);
    --color-clr-bg-extra-dark: var(--color-slate-200);
    --color-clr-border: var(--color-slate-200);
    --color-clr-text-extra-muted: var(--color-slate-400);
    --color-clr-text-muted: var(--color-slate-500);
    --color-clr-text-light: var(--color-slate-700);
    --color-clr-text: var(--color-slate-800);
}

@theme inline {
    --font-sans: var(--font-inter), sans-serif;
    --font-heading: var(--font-outfit), sans-serif;

    --breakpoint-xs: 25rem; /* 400px */

    --spacing-size-2xs: calc(var(--spacing) * 1);
    --spacing-size-xs: calc(var(--spacing) * 2);
    --spacing-size-sm: calc(var(--spacing) * 4);
    --spacing-size-md: calc(var(--spacing) * 8);
    --spacing-size-lg: calc(var(--spacing) * 12);
    --spacing-size-xl: calc(var(--spacing) * 16);
    --spacing-size-2xl: calc(var(--spacing) * 20);
    --spacing-size-3xl: calc(var(--spacing) * 24);
    --spacing-size-4xl: calc(var(--spacing) * 32);
    --spacing-size-5xl: calc(var(--spacing) * 40);
    --spacing-size-6xl: calc(var(--spacing) * 56);

    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }
    @keyframes marquee-vertical {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(calc(-100% - var(--gap)));
        }
    }
}

@layer theme {
    .dark {
        --color-clr-bg-light: var(--color-slate-950);
        --color-clr-bg: var(--color-slate-800);
        --color-clr-bg-dark: var(--color-slate-700);
        --color-clr-bg-extra-dark: var(--color-slate-600);
        --color-clr-border: var(--color-slate-200);
        --color-clr-text-extra-muted: var(--color-slate-400);
        --color-clr-text-muted: var(--color-slate-300);
        --color-clr-text-light: var(--color-slate-200);
        --color-clr-text: var(--color-slate-100);
        --color-clr-text-strong: var(--color-slate-50);
    }
}

body {
    font-family: var(--font-inter);
    font-family: Arial, Helvetica, sans-serif;
}
