@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --breakpoint-xs: 25rem; /* 400px */

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-clr-bg-light: var(--color-white);
    --color-clr-bg: var(--color-neutral-50);
    --color-clr-bg-dark: var(--color-neutral-100);
    --color-clr-bg-extra-dark: var(--color-neutral-200);

    --color-clr-border: var(--color-neutral-200);

    --color-clr-text-extra-muted: var(--color-neutral-400);
    --color-clr-text-muted: var(--color-neutral-500);
    --color-clr-text-light: var(--color-neutral-700);
    --color-clr-text: var(--color-neutral-800);
    --color-clr-text-strong: var(--color-neutral-900);

    --font-sans: var(--font-inter), sans-serif;
    --font-heading: var(--font-outfit), sans-serif;

    --spacing-size-2xs: calc(var(--spacing) * 1);
    --spacing-size-xs: calc(var(--spacing) * 2);
    --spacing-size-sm: calc(var(--spacing) * 4);
    --spacing-size-md: calc(var(--spacing) * 8);
    --spacing-size-lg: calc(var(--spacing) * 12);
    --spacing-size-xl: calc(var(--spacing) * 16);
    --spacing-size-2xl: calc(var(--spacing) * 20);
    --spacing-size-3xl: calc(var(--spacing) * 24);
    --spacing-size-4xl: calc(var(--spacing) * 32);
    --spacing-size-5xl: calc(var(--spacing) * 40);
    --spacing-size-6xl: calc(var(--spacing) * 56);

    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }
    @keyframes marquee-vertical {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(calc(-100% - var(--gap)));
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter);
    font-family: Arial, Helvetica, sans-serif;
}
